<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8r1g48rU0CIp2I2zS5S-cwA4VHG_FRJM</string>
	<key>GCM_SENDER_ID</key>
	<string>896158824122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ladulghanneey.swiftTask</string>
	<key>PROJECT_ID</key>
	<string>swifttasks-6a67d</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttasks-6a67d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896158824122:ios:41e3ecc3dfce341f193483</string>
</dict>
</plist>